<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="registro">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-xs-12">
                <h1>Relação Usuário - Trabalho</h1>
                <hr class="head-border-grey">
            </div>
            
            <table class="tabela_trabalho">
                <tr>
                    <th>Organização que Oferta</th>
                    <th>Título do Trabalho</th>
                    <th>Voluntário</th>
                </tr>
                {% for obj in trab_user %}
                <tr>
                    <td>{{ obj.organizacao }}</td>
                    <td>{{ obj.trabalho }}</td>
                    <td>{{ obj.voluntario }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>