{% extends "base.html" %}
{% load staticfiles %}
<!-- NAVBAR END -->

<!-- SEQUENCE SLIDER Change Styles at the sequence-slider.css file -->
{% block content %}

<div class="container">
	<div id="about">
		<h1>Quem somos?</h1>
		<p>Somos alunos da Universidade de Brasília com o objetivo de desenvolver uma plataforma social para conectar organizações que realizam trabalhos voluntários e pessoas interessadas em se voluntariar. A aplicação criada pelos alunos de Linguagens de Programação 2016/2 orientados pelo Professor Marcelo Ladeira tem por finalidade promover uma maior interação e integração entre os membros da comunidade universitária e fora dela.</p>
		<h1>Por que precisamos da UnB Solidária?</h1>
		<p>
		A UnB possui uma comunidade extremamente diversa. Contudo, os alunos e professores alinham o conhecimento em suas áreas com a vontade de ajudar criando grupos de trabalho solidário. Porém, esses grupos encontram-se dispersos pelos 4 campi o que dificulta a divulgação de projetos e processo de recrutamento de indivíduos que muitas vezes tem vontade de participar, mas não entram pelo fato de não ficarem sabendo dos projetos e trabalhos realizados.</p>
		<p>A importância do trabalho voluntário na sociedade atual O trabalho voluntário muitas vezes coloca a pessoa em contato com uma realidade muito diferente da que está acostumada, aumentando assim a conscientização da diversidade social e das necessidades alheias. Existem diversas instituições que promovem o trabalho voluntário, entre elas ONGs e igrejas. É importante você procurar uma que seja adequada para o seu perfil e de preferência que você atue na sua área profissional, é um espaço para colocar novas ideias em prática. É recompensador ver seu trabalho mudando a vida das pessoas que precisam. Por isso, é importante  ter em mente que apesar do voluntário ser livre para escolher seus horários deve sempre honrar os compromissos que forem assumidos.</p>
	</div>
</div>





<!--Comentário inútil-->


{% endblock content %}
<!-- SEQUENCE SLIDER END -->