{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="trabalho" class="container">
  <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
    <h2>Editar Perfil</h2>
  </div>

   		<div id="trabalhos" class = "panel-body">
		<div class = "list-group">
     	<h3 class = "panel-title">{{user.first_name}} {{user.last_name}}</h3>
      <div href = "#" class = "list-group-item">
        <hr class="head-border">
			  <form action="" method="post">{% csrf_token %}
			     <div class="control-label col-sm-6">
    			 {{form}} 
           </div>
    			 <input class = "btn btn-primary btn-sm" type="submit" value="Atualizar" />
        </form>
		</div>
</div>
</div>

{% endblock content %}
