
{% for field in form %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" style="margin-top:20px">
            <div class="col-sm-16 col-sm-offset-6">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-6">{{ field.label_tag}}</label>
        <div class="col-sm-6">{{ field }}</div>
    </div>
  </div>
{% endfor %}
{% for field in endereco %}
    <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10" style="margin-top:20px">
          <div class="col-sm-16 col-sm-offset-6">

            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-6" style="color:#f00">{{ field.label_tag }}</label>
        <div class="col-sm-6">{{ field }}</div>
    </div>
  </div>
{% endfor %}
{% for field in org_form %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" style="margin-top:20px">
          <div class="col-sm-16 col-sm-offset-6">

            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-6" style="color:#ff0">{{ field.label_tag }}</label>
        <div class="col-sm-6">{{ field }}</div>
    </div>
  </div>
{% endfor %}
